* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: 'Staatliches', sans-serif;
  --ff-texting: 'Poppins', sans-serif;

  --fc-primary: #535971;
  --fc-secundary: #4E4958;
  --fc-secundary-white: #FFFFFF;
}

body {
  font-size: 1.6rem;

  background-color: #EFEFEF;
}

body::before {
  content: '';

  width: 100%;
  height: 43.6rem;
  background: var(--fc-primary);

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

.page {
  width: 75rem;
  margin: 0 auto;
}

header {
  width: 41.7rem;
  margin: 14rem 0 5.8rem;

  color: var(--fc-secundary-white);
}

header h1 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 6rem;
  text-transform: uppercase;

  margin-bottom: 1.8rem;
}

header p {
  font-family: var(--ff-texting);
  font-size: 2rem;
  line-height: 3rem;
}

form {
  background-color: var(--fc-secundary-white);
  border-radius: 2rem 2rem 0 0;
  padding: 6.4rem;

  display: flex;
  flex-direction: column;
  gap: 3.1rem;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.fieldset-wrapper legend {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: var(--fc-primary);
  text-transform: uppercase;

  border-bottom: solid 1px #E6E6F0;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
}

.col-2 {
  display: flex;
  gap: 2.2rem;
}

.form-items {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-items label {
  font-family: var(--ff-texting);
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--fc-secundary);
}

.form-items label span {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #C1BCCC;

  margin-left: 6px;
}

.form-items input {
  height: 5.6rem;
  background-color: #FAFAFC;
  border: solid 1px #E6E6F0;
  border-radius: 8px;
  padding: 1.5rem;
}

.form-items legend {
  font-size: 2rem;
  line-height: 3.4rem;
  
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.col-3 {
  display: flex;
  gap: 2.1rem;
}

.col-3 .form-items:first-child {
  width: 30rem;
}

.col-3 .form-items:nth-child(n + 2) {
  width: 14rem;
}

footer {
  display: flex;
  flex-direction: column;

  height: 16rem;
  background-color: var(--fc-primary);
  border-radius: 0 0 2rem 2rem;
  padding: 5.2rem 7.1rem;
  margin-bottom: 36.6rem;
}

footer button {
  font-family: var(--ff-heading);
  font-size: 2rem;
  line-height: 2.6rem;
  color: var(--fc-secundary-white);
  text-transform: uppercase;

  background-color: #FF5374;
  border: none;
  border-radius: 2rem;
  padding: 1.5rem 0;
}
